<ul>
    {% if page %}
        {% for question in page.object_list %}
            <li>{{ question.title }} - <a href="/question/{{ question.pk }}/">{{ question.title }}</a></li>
        {% endfor %}
    {% endif %}
</ul>

<nav>
    <ul class="pagination">
        {% for page_number in paginator.page_range %}
            {% if page_number == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
        <a href="{{ paginator.base_url }}{{ page_number }}">{{ page_number }}</a>
                </li>
        {% endfor %}
    </ul>
</nav>